.nav-enlace {
    display: inline;
    color: teal;
    padding: 10px 30px;
    text-decoration: none;
}

h1 {
    color:#025157
}

p {
    color: #46484c
}

button {
    color: white;
    background-color: #025157;
}




